@import "./base.scss";

:root {
  --input-background: var(--vt-c-grey-1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --input-background: var(--vt-c-indigo);
  }
}

input,
select {
  padding: 0.5rem;
  border: 1px solid var(--color-border);
  border-radius: 0.25rem;
  font-size: 1rem;
  color: var(--color-text);
  background-color: var(--input-background);
  width: 100%;

  &.input-inline {
    display: inline-block;
    width: auto;
  }

  @media only screen and (min-width: $breakpoint-sm) {
    &.input-limited-size {
      max-width: 100px;
    }
  }
  
}

input[type="number"] {
  text-align: right;
}

button {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.3rem;
  font-weight: bold;
  cursor: pointer;

  &.btn-inline {
    display: inline-block;
    width: auto;
  }

  &.btn-success {
    background-color: var(--vt-c-green-1);
    border: 1px solid var(--vt-c-green-2);
    color: var(--vt-c-green-4);
  }

  &.btn-danger {
    background-color: var(--vt-c-red);
    border: 1px solid var(--vt-c-red-dark);
    color: var(--vt-c-red-dark-4);
  }

  &.btn-default {
    background-color: var(--vt-c-grey-2);
    border: 1px solid var(--vt-c-grey-3);
    color: var(--vt-c-grey-4);
  }

  &:active {
    filter: saturate(150%);
  }

  &:disabled {
    filter: opacity(0.7);
  }
}
