@import './base.scss';
@import './table.scss';
@import './inputs.scss';

#app {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  font-weight: normal;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    border: 1px solid grren;
    color: var(--vt-cr-green-2);

    @media only screen and (max-width: $breakpoint-sm) {
      padding: 1.5rem;
    }


    h1 {
      font-size: 2rem;
      color: var(--color-heading);
    }

    nav {
      display: flex;
      gap: 1rem;

      a {
        color: var(--color-text);
        text-decoration: none;
        transition: 0.4s;

        &:hover {
          background-color: var(--color-border-hover);
        }
      }
    }
  }
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    grid-template-columns: 1fr 1fr;
  }
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: .5rem;
}

.flex-wrap {
  flex-wrap: wrap;
}

.text-right {
  text-align: right;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.p-1 {
  padding: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.flex-grow {
  flex-grow: 1;
}

.justify-content-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.w-100 {
  width: 100%;
}

@media only screen and (max-width: $breakpoint-sm) {
  .p-sm-1 {
    padding: 1rem;
  }

  .w-sm-100 {
    width: 100%;
  }
}

.only-sm {
  @media only screen and (min-width: $breakpoint-sm) {
    display: none;
  }
}

